/* sidebar-menu design */

.sidebar-menu {
    display: block;
    color: var(--color-primary);
    font-family: var(--font-poppins);
    background-color: var(--color-whitesmoke);
    height: 100vh;
}

.nav {
    color: var(--color-white);
}

.menu-frame {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 8px 8px 0;
    background-color: var(--color-primary);
    width: 280px;
    height: 100%;
}

.logo {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 198px;
    height: 91px;
    object-fit: cover;
}

.bx.bxs-arrow-from-right {
    color: var(--color-white);
    position: relative;
    align-items: center;
    top: 40px;
    left: 16.5%;
}

.profile-image {
    position: absolute;
    top: 120px;
    left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.user-name {
    position: absolute;
    top: 118px;
    left: 80px;
    font-size: var(--font-size-base);
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 500;
}

.memberStatus {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 90px;
    color: var(--color-whitesmoke);
}

.ms-container {
    border-radius: 30px;
    background-color: var(--color-secondary);
    width: 90px;
    height: 15px;
}

.activeMember {
    font-size: 10px;
    position: absolute;
    align-items: center;
    top: 0;
    left: 6px;
    text-transform: lowercase;
    font-weight: 300;
}

.userMembershipDate {
    position: absolute;
    top: 220px;
    font-size: var(--font-size-sm);
    line-height: 10px;
    text-align: center;
    width: 280px;
    border: 1px solid var(--color-whitesmoke);
    border-left: none;
    border-right: none;
}

.dateStartedTxtContainer {
    line-break: anywhere;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navButtonContainer {
    position: absolute;
    width: fit-content;
    top: 300px;
    font-size: var(--font-size-sm);
    font-weight: 400;
}

.btn {
    font-size: 16px;
    width: 260px;
    height: 37px;
    border-radius: 8px;
    color: var(--color-whitesmoke);
    text-decoration: none;
    margin: 10px;
    display: flex;
    align-items: center;
    transition: .3s;
}

.btn.dashboard {
    color: var(--color-primary);
    background-color: var(--color-whitesmoke);
}

.btn i {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-sideBar-bottom .btn:hover,
.btn:hover {
    color: var(--color-primary);
    background-color: var(--color-whitesmoke);
    margin: 10px;
}

.nav-sideBar-bottom {
    position: absolute;
    width: fit-content;
    top: 670px;
    font-size: var(--font-size-sm);
    font-weight: 400;
}

.nav-sideBar-bottom .btn {
    font-size: 16px;
    width: 260px;
    height: 37px;
    border-radius: 8px;
    color: var(--color-whitesmoke);
    text-decoration: none;
    margin: 10px;
    display: flex;
    align-items: center;
    transition: .3s;
}

/* main-content designs */

.main-content {
    font-family: var(--font-poppins);
}

.pageName,
.welcomeMessage {
    position: absolute;
    left: 320px;
    line-height: 36px;
}

.pageName {
    top: 35px;
    font-size: var(--font-size-base);
    font-weight: 400;
    text-transform: uppercase;
}

.welcomeMessage {
    top: 118px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: ( 0.0deg) }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

.cardTypeSavings {
    position: absolute;
    top: 196px;
    left: 320px;
}

.cardTypeSavings img {
    width: 360px;
    height: 220px;
    border-radius: 8px;
    object-fit: cover;
}

/* .cardBox {
    display: flex;
    border-radius: 8px;
    background-color: var(--color-primary);
    width: 340px;
    height: 180px;
    color: var(--color-whitesmoke);
} */

.accountNum,
.amount {
    position: absolute;
    left: 25px;
    line-height: 36px;
    color: var(--color-whitesmoke);
}

.accountNum {
    top: 65px;
    font-size: var(--font-size-sm);
    font-weight: 200;
    letter-spacing: 2px;
}

.cardBox .bx.bxs-copy {
    position: absolute;
    color: var(--color-whitesmoke);
    top: 73px;
    left: 43%;
    cursor: pointer;
}

.amount {
    top: 105px;
    font-size: 36px;
    font-weight: 600;
    font-family: inter;
}

.interestAccrued {
    position: absolute;
    height: 36px;
    top: 77%;
    left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-secondary);
}

.cardButtonContainer {
    display: flex;
    position: absolute;
    width: 340px;
    top: 75%;
    justify-content: right;
    align-items: center;
}

.cardBtn.deposit {
    background-color: var(--color-secondary);
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color-whitesmoke);
    font-size: var(--font-size-xs);
}

/* icon gap */
.bx.bxs-arrow-to-bottom { 
    margin-left: 10px;
    font-size: var(--font-size-sm);
}

.cardBtn.deposit:hover {
    color: var(--color-primary);
    background-color: var(--color-whitesmoke);
    margin-left: 45px;
    padding: 10px 15px;
}

/* Transaction Section */

.myTransactions-section {
    position: absolute;
}