. {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr 5%;
    grid-template-areas: 
      "header"
      "main"
      "footer"
    ;
}

header {
    grid-area: header;
    background-color: red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

header h1,
header p {
    display: flex;
    flex-direction: column;
}

