* {
    font-family: var(--font-poppins);
}

/* Header Layout */
header {
    grid-area: topbar;
    background-color: var(--color-whitesmoke);
    padding: 15px;
    display: flex;
    align-items: center;
}

.topbar img {
    width: 120px;
    margin-right: 15px;
}

div .greetings {
    margin: 0;
}

.greetings h1,
.greetings p {
    margin: 0;
}

.greetings h1 {
    font-size: var(--font-size-5xl);
}

.greetings p {
    font-size: var(--font-size-sm);
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: ( 0.0deg) }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

.line {
    display: flex;
    border-left: 2px solid var(--color-lightgray);
    margin-left: 20px;
    height: 50px;
}

.calendar {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0 20px;
    margin-left: 20px;
    border-radius: 50px;
    color: var(--color-whitesmoke);

}

.calendar i {
    font-size: var(--font-size-base);
}

.calendar h2 {
    margin-left: 10px;
    font-size: var(--font-size-xs);
}

.topbar-btn {
    position: absolute;
    left: 80%;
    display: inline-flex;
    width: 270px;
    justify-content: space-between;
}

.top-icon {
    display: flex;
    width: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-xl);
}

.bx.bx-chat:hover,
.bx.bxs-bell-ring:hover {
    color: var(--color-secondary);
}

.top-userAccnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: var(--font-size-sm);
}

.top-userAccnt img {
    width: 30px;
}

.bx.bx-caret-down {
   cursor: pointer;
}

/* Section Layout */
section {
    grid-area: sidebar;
    background-color: var(--color-primary);
}

.logo-container {
    display: flex;
    width: 300px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.sidebar img,
.sidebar i {
    display: inline-block;
    justify-content: space-between;
}

.sidebar img {
    width: 198px;
    height: 91px;
    object-fit: cover;
    margin-left: 15px;
}

.logo-container .bx {
    justify-content: space-around;
    color: var(--color-whitesmoke);
    font-size: var(--font-size-base);
    margin-right: 15px;
}

.sidebar-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    color: var(--color-whitesmoke);
    font-size: var(--font-size-sm);
    height: 300px;
}

.sidebar-btn a {
    text-decoration: none;
    color: var(--color-whitesmoke);
    font-size: var(--font-size-sm);
    border-radius: 5px;
    margin: 3px 0;
    padding: 8px;
}

.sidebar-btn i,
.sidebar-btm i {
    margin-right: 10px;
}

.sidebar-btn .btn.shop {
    background-color: var(--color-lightgray);
    color: var(--color-primary);
}

.sidebar-btn a:hover,
.sidebar-btm a:hover {
    background-color: var(--color-lightgray);
    color: var(--color-primary);
}

.upsell-container {
    border-radius: 8px;
    margin: 30px;
    padding: 20px;
    background-color: var(--color-whitesmoke);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.upsell-container h1 {
    font-size: var(--font-size-xl);
    margin-bottom: 20px;
    margin-bottom: 0;
}

.upsell-container p {
    font-size: var(--font-size-xs);
    margin-bottom: 20px;
}

.upsell-container a {
    background-color: var(--color-secondary);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--color-whitesmoke);
    transition: .3s;   
}

.upsell-container a:hover {
    background-color: var(--color-secondary);
    padding: 12px 25px;
}

.sidebar-btm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 15px 0 15px;
    color: var(--color-whitesmoke);
    font-size: var(--font-size-sm);
    height: 100px;
}

.sidebar-btm a {
    text-decoration: none;
    color: var(--color-whitesmoke);
    font-size: var(--font-size-sm);
    border-radius: 5px;
    margin: 3px 0;
    padding: 8px;
}


/* Main Layout */
main {
    grid-area: main;
    padding: 20px;
    background-color: var(--color-whitesmoke);

    display: grid;
    grid-template-columns: 360px 360px 1fr;
    grid-template-rows: 80px 110px 110px 1fr;
    gap: 10px;

    /* main grid layout */
    grid-template-areas:
        "col1 col1 col1"
        "col1 col1 col1"
        "col1 col1 col1"
        "col1 col1 col1"
    ;
}

.container {
    background-color: var(--color-white);
    border-radius: 8px;
}

.container:nth-child(1) {
    grid-area: col1;
}